# 2023.03.13(월)

1강 코딩테스트란 무엇인가  
2강 알고리즘 성능 평가  
3강 파이썬 문법 수 자료형  
4강 파이썬 문법 리스트 자료형

# 2023.03.14(화)
5강 파이썬 문법 문자열, 튜플 자료형  
6강 파이썬 문법 사전, 집합 자료형  
7강 파이썬 문법 기본 입출력   
8강 파이썬 조건문  
9강 파이썬 반복문

--------

## 알고리즘 문제 해결 과정
1. 지문 읽기 및 컴퓨터적 사고
2. 요구사항(복잡도) 분석
3. 문제 해결을 위한 **핵심 아이디어** 찾기
4. 소스코드 설계 및 코딩

### 시간복잡도

##### O(N)

In [2]:
array = [3, 5, 1, 2, 4]
summary = 0

for x in array:
    summary += x
    
print(summary)

15

##### O(N^2)

In [3]:
# 25번 연산

for i in array:
    for j in array:
        temp = i * j
        print(temp)

9
15
3
6
12
15
25
5
10
20
3
5
1
2
4
6
10
2
4
8
12
20
4
8
16

### 수행 시간 측정

In [6]:
import time
start_time = time.time()

for i in array:
    for j in array:
        temp = i * j
        print(temp)
        
end_time = time.time()
print("time: ", end_time - start_time)

9
15
3
6
12
15
25
5
10
20
3
5
1
2
4
6
10
2
4
8
12
20
4
8
16
time:  0.0013408660888671875

### 자료형
1. 정수형
2. 실수형
3. 리스트
4. 문자열 자료형
5. 튜플(서로 다른 성질의 데이터를 묶어서 관리해야 할 때)
6. 사전 자료형
7. 집합 자료형

리스트 컴프리헨션

In [2]:
array = [i for i in range(10)]
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# 0부터 19까지 수에서 홀수만 포함
array = [i for i in range(19) if i % 2 == 1]
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [4]:
n = 4
m = 3
array = [[0] * m for _ in range(n)]
print(array)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

### 리스트 관련 기타 메서드
1. append()
2. sort()
3. reverse()
4. insert()
5. count()
6. remove()

In [6]:
a = [1,4,3]
a.append(2)

리스트에서 특정 값을 가지는 원소를 모두 제거하기

In [9]:
a = [1,2,3,4,5,5,5]
remove_set = {3,5} # 존재 유무만 파악하는 집합자료형

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

In [12]:
a = "Hello"
b = "World"
print(a + " " + b)

Hello World

In [14]:
a = dict()
a['홍길동'] = 96
a['박성우'] = 100

print(a)

{'홍길동': 96, '박성우': 100}

In [16]:
b = {
    '홍길동' : 97,
    '박성우' : 100
}

print(b)

{'홍길동': 97, '박성우': 100}

In [17]:
key_list = list(b.keys())

In [18]:
print(key_list)

['홍길동', '박성우']

In [19]:
value_list = list(b.values())
print(value_list)

[97, 100]

In [20]:
n = int(input())
data = input()
print(n)
print(data)

5
1 2 3 4 5
5
1 2 3 4 5

In [21]:
n = int(input())
data = input().split()
print(n)
print(data)

5
1 2 3 4 5
5
['1', '2', '3', '4', '5']

In [22]:
data = list(map(int, input().split()))
print(n)
print(data)

5
1 2 3 4 5
5
[1, 2, 3, 4, 5]

In [26]:
# 빠르게 입력 받기
import sys
data = sys.stdin.readline().rstrip()
print(data)

In [28]:
answer = 7
print(f"정답은 {answer}입니다")

정답은 7입니다

### 조건문

In [31]:
score = 100

if score >= 70:
    print('성적 좋네')
    if score >= 90:
        print('성적 아주 좋네')
        
else:
    print("성적이 안좋네")

성적 좋네
성적 아주 좋네

In [32]:
1 in [1,2,3]

True

#### 조건문 간소화

In [36]:
score = 85

if score >= 80: result = "Success"
else: result = 'Fail'
    
print(result)

Success

In [39]:
score = 70
result = "Success" if score >= 80 else "Fail"
print(result)

Fail

### 반복문(while)

In [41]:
# 1부터 9까지 모든 정수의 합 구하기
i = 1 
result = 0

while i <= 9:
    result += i
    i += 1
    
print(result)

45

In [46]:
# 1부터 9까지 모든 홀수의 합 구하기
i = 1
result = 0

while i <= 9:
    if i % 2 == 1:
        result += i
    i += 1
    
print(result)

25

### 반복문(for)

In [47]:
for i in [1,2,3]:
    print(i)

1
2
3

In [49]:
result = 0

# i는 1부터 9까지의 모든 값을 순회

for i in range(1,10):
    result += i
    
print(result)

45

In [51]:
result = 0
for i in range(1,10):
    if i % 2 == 0:
        continue
    result += i

print(result)

25

In [52]:
i = 1
while True:
    print(i)
    if i == 5:
        break
    i += 1

1
2
3
4
5

In [54]:
scores = [1,2,3,4,5]

for i in range(5):
    if scores[i] >= 3:
        print(i+1, '합격')

3 합격
4 합격
5 합격

In [55]:
scores = [90, 85, 77, 65, 97]
cheating_student_list = {2,4}

for i in range(5):
    if i + 1 in cheating_student_list:
        continue
    if scores[i] >= 80:
        print(i+1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [58]:
for i in range(2,10):
    for j in range(1, 10):
        print(i, "X", j, "=", i*j)
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 파이썬 메모리

In [3]:
mymsg=['line1','line2']
'\n'.join(mymsg)

'line1\nline2'

In [4]:
id(2)

140302757194064

In [5]:
hex(id(2))

'0x7f9ac800e950'

In [9]:
import time

start_time = time.time()
a = list(range(100000))
a2 = list()

for i in a:
    a2.append(i*2)

end_time = time.time() 
fin = end_time - start_time
print(fin)

0.028984785079956055

In [7]:
import time

start_time = time.time()
temp = [x*2 for x in range(100000)]
end_time = time.time()
fin = end_time - start_time
print(fin)

0.018098115921020508

In [8]:
import time

start_time = time.time()
a = list(range(100000))
a2 = map(lambda n: n*2, a)
end_time = time.time()

fin = end_time - start_time
print(fin)

0.01229095458984375

In [1]:
3//3

1

### 피보나치

In [5]:
# if n == 6
1, 1, 2, 3, 5, 8
def fib_iter(n):
    if (n<2): return n

    last = 0
    current = 1
    for i in range(2, n+1): # 2,3,4,5,6 / 5번
        tmp = current
        current += last
        last = tmp
    return current

# 1, 1, 2, 3,

tmp = 1
current = 1
last = 1

tmp 1
current 2
last = 1

tmp = 2
current = 3
last = 2

tmp = 3
current = 5
last =3

tmp = 5
currnet = 8
last = 5

In [4]:
fib_iter(6)

8

### 하노이타워

In [17]:
def hanoi_tower(n, fr, tmp, to):

    if (n==1):
        print('원판 1: %s --> %s' % (fr, to))
    else:
        hanoi_tower(n-1, fr, to, tmp)
        print('원판 %d: %s --> %s' % (n,fr,to))
        
        hanoi_tower(n-1, tmp, fr, to)

In [18]:
hanoi_tower(4, 'A', 'B', 'C')

원판 1: A --> B
원판 2: A --> C
원판 1: B --> C
원판 3: A --> B
원판 1: C --> A
원판 2: C --> B
원판 1: A --> B
원판 4: A --> C
원판 1: B --> C
원판 2: B --> A
원판 1: C --> A
원판 3: B --> C
원판 1: A --> B
원판 2: A --> C
원판 1: B --> C