### 그리디 : 큰 수의 법칙

In [13]:
n, m, k = map(int, input().split())
data = list(map(int, input().split()))

data.sort()
first = data[-1]
second = data[-2]

result = 0

while True:
    for i in range(k):
        if m == 0:
            break
        result += first
        m -= 1

    if m == 0:
        break

    result += second
    m -= 1

print(result)

 5 8 3
 2 4 5 4 6

46

In [15]:
# 수열 활용해서 품
n, m, k = map(int, input().split())
data = list(map(int, input().split()))

data.sort()
first = data[-1]
second = data[-2]

result = 0

count = int(m / (k + 1)) * k
count += m % (k + 1)

result = count * first
result += (m - count) * second

print(result)

 5 8 3
 2 4 5 4 6

46

### 그리디 : 숫자카드게임

In [19]:
n, m = map(int, input().split())
result = 0

for i in range(n):
    data = list(map(int, input().split()))
    min_value = min(data)
    result = max(result, min_value)

print(result)

 3 3
 2 1 1
 3 5 6
 2 9 1

3

In [21]:
n, m = map(int, input().split())
result = 0

for i in range(n):
    data = list(map(int, input().split()))
    min_value = 10001
    for a in data:
        min_value = min(min_value, a)

    result = max(result, min_value)

print(result)

 3 3
 2 1 1
 3 5 6
 2 9 1

3

### 그리디 : 1이 될때까지

In [23]:
n, k = map(int, input().split())
result = 0

while n >= k:
    while n % k != 0:
        n -= 1
        result += 1

    n //= k
    result += 1

while n > 1:
    n -= 1
    result += 1

print(result)

 26 5

3

In [25]:
n, k = map(int, input().split())
result = 0

while True:
    target = (n//k) * k
    result += (n - target) # n 값이 target 값이 되려면 1을 몇 번 뺴야하는가?
    
    n = target
    
    if n < k:
        break
    
    result += 1
    n //= k

result += (n-1)
print(result)

 25 3

6

### 구현 : 상하좌우

In [3]:
n = int(input())
x, y = 1, 1
plans = input().split()

dx = [0, 0, -1, 1]
dy = [-1, 1, 0, 0]
move_types = ['L','R', 'U', 'D']

for plan in plans:
    for i in range(len(move_types)):
        if plan == move_types[i]:
            nx = x + dx[i]
            ny = y + dy[i]

    if nx < 1 or ny < 1 or nx > n or ny > n:
        continue

    x, y = nx, ny

print(x,y)

 5
 R R R U D D

3 4

### 구현 : 시각

In [5]:
h = int(input())

count = 0
for i in range(h+1):
    for j in range(60):
        for k in range(60):
            if '3' in str(i) + str(j) + str(k):
                count += 1

print(count)

 5

11475

### 구현 : 왕실의 나이트

In [22]:
input_data = input()
row = int(input_data[1])
column = int(ord(input_data[0])) - int(ord('a')) + 1 # ASCII 코드는 문자 - 숫자 형식으로 매칭이 되어 있는데 인풋값에서 a의 아스키 코드 값을 빼서 열 number를 구함

steps = [(-2,1), (-2, -1), (2, 1), (2,-1),(1,2),(1,-2),(-1,2),(-1,-2)]

result = 0
for step in steps:
    n_row = row + step[0]
    n_col = column + step[1]

    if n_row >= 1 and n_col >= 1 and n_row <= 8 and n_col <= 8:
        result += 1

print(result)

 a1

2

### 구현 : 게임 개발

In [3]:
n, m = map(int,input().split())
x, y, direction = map(int,input().split())
d = [[0]*m for _ in range(n)]
d[x][y] = 1

array = []
for i in range(n):
    array.append(list(map(int, input().split())))

dx = [-1, 0, 1, 0]
dy = [0, 1, 0, -1]

def turn_left():
    global direction
    direction -= 1
    if direction == -1:
        direction = 3

count = 1
turn_time = 0
while True:
    turn_left()
    nx = x + dx[direction]
    ny = y + dy[direction]

    if d[nx][ny] == 0 and array[nx][ny] == 0:
        d[nx][ny] = 1
        x = nx
        y = ny
        count += 1
        turn_time = 0
        continue

    else:
        turn_time += 1

    if turn_time == 4:
        nx = x-dx[direction]
        ny = y-dx[direction]

        if array[nx][ny] == 0:
            x = nx
            y = ny

        else:
            break

        turn_time = 0

print(count)

 4 4
 1 1 0
 1 1 1 1
 1 0 0 1
 1 1 0 1
 1 1 1 1

3

### DFS/BFS : DFS

In [4]:
def dfs(graph, v, visited):
    visited[v] = True
    print(v, end = ' ')

    for i in graph[v]:
        if not visited[i]:
            dfs(graph, i, visited)

### DFS/BFS : DFS

In [5]:
from collections import deque

def bfs(graph, start, visited):
    queue = deque([start])
    visited[start] = True

    while queue:
        v = queue.popleft()
        print(v, end = ' ')

        for i in graph[v]:
            if not visited[i]:
                queue.append(i)
                visited[i] = True

### DFS/BFS : 음료수 얼려먹기

In [ ]:
# n, m = map(int, input().split())

graph = []
for i in range(n):
    graph.append(list(map(int, input().split())))

def dfs(x,y):
    if x <= -1 or x >= n or y <= -1 or y >= m:
        return False

    if graph[x][y] == 0:
        graph[x][y] = 1

        dfs(x-1, y) #상
        dfs(x,y-1) #좌
        dfs(x+1,y) #하
        dfs(x,y+1) #우

        return True

    return False

result = 0
for i in range(n):
    for j in range(m):
        if dfs(i,j) == True:
            result += 1

print(result)

### DFS/BFS : 미로 찾기

In [11]:
# from collections import deque

n, m = map(int, input().split())

graph = []
for i in range(n):
    graph.append(list(map(int,input().split())))
    
# 상, 하, 좌, 우
dx = [-1, 1, 0, 0]
dy = [0,0,-1,1]

def bfs(x,y):
    queue = deque()
    queue.append((x,y))

    while queue:
        x,y = queue.popleft()
        for i in range(4):
            nx = x+dx[i]
            ny = y+dy[i]

            if nx <0 or ny <0 or nx >= n or ny >= m:
                continue

            if graph[nx][ny] == 0:
                continue

            if graph[nx][ny] == 1:
                graph[nx][ny] = graph[x][y] + 1
                queue.append((nx,ny))

    return graph[n-1][m-1]

print(bfs(0,0))

 3 3
 1 1 0
 0 1 0
 0 1 1

5

### 정렬 : 선택정렬

In [17]:
array = [7, 5, 9, 0, 3, 1, 6, 2, 4, 8]

for i in range(len(array)):
    min_index = i
    for j in range(i+1, len(array)):
        if array[min_index] > array[j]:
            min_index = j
    array[i], array[min_index] = array[min_index], array[i]

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 정렬 : 삽입정렬

In [20]:
array = [7,5,9,0,3,1,6,2,4,8]

for i in range(1, len(array)):
    for j in range(i, 0, -1):
        if array[j] < array[j-1]:
            array[j], array[j-1] = array[j-1], array[j]

        else:
            break

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 정렬 : 퀵 정렬

In [22]:
array = [5, 7, 9, 0, 3, 1, 6, 2, 4, 8]

def quick_sort(array, start, end):
    if start >= end:
        return

    pivot = start
    left = start + 1
    right = end
    while left < right:
        while left <= end and array[left] <= array[pivot]:
            left += 1

        while right > start and array[right] >= array[pivot]:
            right -= 1

        if left > right:
            array[right], array[pivot] = array[pivot], array[right]

        else:
            array[left], array[right] = array[right], array[left]

        quick_sort(array, start, right -1)
        quick_sort(array, right + 1, end)

quick_sort(array, 0, len(array)- 1)

print(array)

[0, 1, 2, 3, 4, 5, 6, 8, 7, 9]

In [23]:
array = [5, 7, 9, 0, 3, 1, 6, 2, 4, 8]

def quick_sort(array):
    if len(array) <= 1:
        return array

    pivot = array[0]
    tail = array[1:]

    left_side = [x for x in tail if x <= pivot]
    right_side = [x for x in tail if x > pivot]

    return quick_sort(left_side) + [pivot] + quick_sort(right_side)

print(quick_sort(array))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 정렬 : 계수 정렬

In [26]:
array = [7, 5, 9, 0, 3, 1, 6, 2, 9, 1, 4, 8, 0, 5]

count = [0] * (max(array)+ 1)

for i in range(len(array)):
    count[array[i]] += 1

for i in range(len(count)):
    for j in range(count[i]):
        print(i, end = ' ')

0 0 1 1 2 3 4 5 5 6 7 8 9 9

### 정렬 : sorted

In [27]:
array = [7,5,9,0,3,1,6,2,4,8]

result = sorted(array)
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 정렬 : sort

In [31]:
array = [7,5,9,0,3,1,6,2,4,8]

array.sort()
array

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 정렬 : 성적이 낮은 순서로 학생 출력하기

In [7]:
n = int(input())
array = []
for i in range(n):
    input_data = input().split()
    array.append((input_data[0], int(input_data[1])))
print(array)
array = sorted(array, key = lambda student_score : student_score[1])
print(array)

for student in array:
    print(student[0], end = ' ')

 2
 박성우 100
 천지현 99

[('박성우', 100), ('천지현', 99)]
[('천지현', 99), ('박성우', 100)]
천지현 박성우

### 정렬 : 두 배열의 원소 교체

In [8]:
n, k = map(int, input().split())

a = list(map(int, input().split()))
b = list(map(int, input().split()))

a.sort()
b.sort(reverse =True)

for i in range(k):
    if a[i] < b[i]:
        a[i], b[i] = b[i], a[i]

    else:
        break

print(sum(a))

 5 3
 1 2 5 4 3
 5 5 6 6 5

26